<div class="pane pane-@Name">
    @foreach (var module in Modules)
    {
        <ModuleContainer Context="@Context" Module="@module" ModuleDefinition="@GetByModule(module)"></ModuleContainer>
    }
</div>
