@inherits ModuleBase<TextHtmlContent>
<EditForm Model=@Model OnSubmit="Submit" FormName="@Module.Id.ToString()">
    <p>
        <label>Value</label>
        <InputTextArea id="Value" @bind-Value="Model.Value" />
    </p>
    <p><button type="submit">Submit</button></p>
</EditForm>

@code {
    void Submit()
    {
        Service.Update(Model).ConfigureAwait(false);
    }
}