@page "/contentTypes/{id:guid}";
@using ApiClients;
@inject ContentTypeClient Client;
@using Web.UI.Admin.Pages.ContentTypes;

<div class="py-3 mb-4 d-flex justify-content-between">
    <h4>Edit Content Type</h4>

    <a href="/contenttypes" class="btn btn-light" type="button">
        <span>
            <i class="ti ti-chevron-left me-0 me-sm-1 ti-xs"></i>
            <span class="d-none d-sm-inline-block">Back</span>
        </span>
    </a>
</div>


@if (contentType != null) {
    <ContentTypeEditor ContentType="contentType" Title="Edit CONTENT Type"/>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public Guid? Id {get; set;}

    private ContentType? contentType {get; set;}

    protected override async Task OnParametersSetAsync() {
        if(Id != null) {
            contentType = await Client.GetByIdAsync(Id);
        }
    }
}