@inherits LayoutComponentBase
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">

  <!-- Layout container -->
  <div class="layout-container">
    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <NavMenu/>
    </aside>
    <!--/ Menu -->

    <!-- Layout page -->
    <div class="layout-page">

      <!-- Navbar -->
      <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        Navbar
      </nav>
      <!--/ Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          @Body
        </div>
        <!--/ Content -->

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          Footer
        </footer>
        <!--/ Footer -->

        <!-- Content area backdrop -->
        <div class="content-backdrop fade"></div>
      </div>
      <!--/ Content wrapper -->

    </div>
    <!--/ Layout page -->

  </div>
  <!--/ Layout container -->

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>
</div>
<!--/ Layout wrapper -->